.about{
    color: White;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}
.about a {
    color: inherit;
    text-decoration: underline;
}
.section_about{
    width: fit-content;
    margin-right: auto;
    margin-left:auto;
}
.Apropos{
    padding-bottom: 50px;
    margin: 0 300px;
}

@media (max-width: 900px) {
    .Apropos{
        width: 80%;
        margin: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .about{
        line-height: 30px;
    }
}