.link_left{
    position: sticky;
    z-index: -1;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 10px;
    width: fit-content;
    z-index: 10;
}
.link_left ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}
.link_left ul li{
    position: relative;
    list-style: none;
}
.link_left ul li a{
    position: relative;
    text-decoration: none;
}

img{
    width: 30px;
}
.link_list{
    width: fit-content;
    padding: 0;
    margin-left: 10px;
}